/*
TODO
-- Add config
	FontFamily
	ColorSchema
	Flat(boolean)
	Effects(boolean)
 */


/*=== FONTS ===*/

$birds:"Birds of Paradise";
$vibes: "Great Vibes";
$opensans: "Open Sans";
$oxy:"Oxygen";

/*=== COLORS SCHEMA // Palette ===*/

$prim:#b8087f !default;
$seco:#147be0 !default;
/*=== STUFF ===*/
$flat: true;
$effects: true;

$img_dir: "../images_landing/voyance-gratuite-16/";